node_modules
.next
public
yarn.lock
tailwind.config.js
tailwind.css
list_project.txt
list_project.sh
bash_prompt.md
jsvectormap.d.ts
src/css
src/js
src/fonts
src/app/favicon.ico
README.md
LICENSE
tailadmin-nextjs.jpg
tailwind.config.js
package.json
out
